<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="DatabaseExpenses"
			 connectionString="Server=(localdb)\mssqllocaldb;Database=Expenses;Trusted_Connection=True;" />
	</connectionStrings>
	<!--ogólnie nie działa mi to wyżej trzeba robic podajac sciezke bezposrednio:
	Scaffold-DbContext "Server=(LocalDb)\MSSQLLocalDB;Database=Expenses;Trusted_Connection=True;" Microsoft.EntityFrameworkCore.SqlServer -OutputDir Models/DataProviders -force-->
</configuration>